* {
box-sizing: border-box;
}
@font-face {
    font-family: "Yekan";
    src: url("./font/Yekan.woff") format("woff") ,
    url("./font/Yekan.ttf") format("ttf");
}
@font-face {
    font-family: "Mj";
    src: url("font/Mj_Farsi/Simple/ Normal_0.ttf") format("ttf");
}
body {
    font-family: Yekan;
}
.header_nav{
    position: relative;
    font-family: "Yekan";
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    background-color:rgb(241, 248, 233);
    color: black;
}
.logo {
    width: 14rem;
}
.wrap {
    margin-right: 4rem;
}

.header_item{
    color: black;
    text-decoration-line: none;
    margin-right: 3.5rem;
    font-size: 1.3rem;
    cursor: pointer;
    -moz-text-decoration-line: none;
}
.flower_icon{
    width: 14rem;
    position: absolute;
    right: -58px;
  top: 75px;
}

.wrap .header_item :hover {
  
    color:rgb(27, 94, 32);
    transition: all 0.2s ;
    -webkit-transition: all 0.2s ;
    -moz-transition: all 0.2s ;
    -ms-transition: all 0.2s ;
    -o-transition: all 0.2s ;}

.description_aboutus{
    z-index: 2;
    display: none;
    width: 14rem;
    height: 20rem;
    background-color:rgba(51, 105, 30, 0.5);
    position: absolute;
    right: 195px;
    top: 154px;
    border-radius: 0.6rem;
    transition: all 2s ease-in 0.2s;
    -webkit-transition: all 2s ease-in 0.2s;
    -moz-transition: all 2s ease-in 0.2s;
    -ms-transition: all 2s ease-in 0.2s;
    -o-transition: all 2s ease-in 0.2s;
}
.description_contactus {
    z-index: 2;
    display: none;
    width: 14rem;
    height: 8rem;
    background-color:rgba(51, 105, 30, 0.5);
    position: absolute;
    right: 385px;
    top: 154px;
    border-radius: 0.6rem;
}
.star1icon{
    position: absolute;
    width: 8rem;
  left: -1px;
  top: 168px;
}
.star2icon {
    position: absolute;
    width: 5rem;
    left: 164px;
    top: 9px;

}
.description_contactus p {
    padding: 1rem;
}

.description_aboutus p {
    padding: 1rem;
}

.sidebar {
    position: relative;
   font-family: Yekan;
   border: 1px solid black;
   border-radius: 1rem;
   margin-top: 1rem; 
   -webkit-border-radius: 1rem;
   -moz-border-radius: 1rem;
   -ms-border-radius: 1rem;
   -o-border-radius: 1rem;
}
.main {
    font-family: Yekan  ;
    display: flex;
    align-items: center;
}
.main img {
    width: 23rem;
    margin-left: 2rem;
}
.body {
    position: relative;
    width: 75rem;
    margin: 1rem auto;
    background-color: rgba(236, 239, 241, 0.3);
    padding: 1.5rem;
    border-radius: 1.5rem;
    -webkit-border-radius: 1.5rem;
    -moz-border-radius: 1.5rem;
    -ms-border-radius: 1.5rem;
    -o-border-radius: 1.5rem;
}
.bottom_staricon {
    position: absolute;
  bottom: -22px;
  right: -110px;
  width: 10rem;
}
.bottom_staricon2 {
    position: absolute;
  bottom: -34px;
  right: -20px;
  width: 5rem;
}

.bottom-section {
    font-family: Yekan;
    display: flex;
    margin-top: 3rem;
    align-items: center;
}
.bottom-section img {
    width: 20rem;
    height: 20rem;
    margin-right: 1rem;
}
.flower2sidebar {
    position: absolute;
    top: 35rem;
    left: -7rem;
    width: 15rem;
}

.top-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}


/* footer  */

.footer_wrapper {
    margin-top: 4rem;
}
.footer_right_part ,
.footer_left_part{
    background-color: rgb(241, 248, 233);
    
}
.footer_right_part p{
    padding: 3rem;
}

.footer_left_part p{
 padding: 3rem;
}

/* slider  */

.slider_container {
    width: 18rem;
}
.slider_item {
    display: none;
    animation: fade 1000ms;
    -webkit-animation: fade 1000ms;
}
@keyframes fade {
    0%{
        opacity: 0;
        transform: scale(1.,1.);
        -webkit-transform: scale(1.,1.);
        -moz-transform: scale(1.,1.);
        -ms-transform: scale(1.,1.);
        -o-transform: scale(1.,1.);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}

.slider_item img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.active {
    margin: 0 auto;
    margin: 1.5rem;
    display: block;
    width: 50rem;
}